.search-bar {
	left: 0;
    right: 0;
    top: 53px;
	width: 100%;
	opacity: 0.9;
	z-index: 10001;
	position: fixed;
	display: none;
}
.search-bar input {
	border-radius: 0;
	line-height: 25px;
	font-size: 1.2em;
}
.dashboard.search .list-group {
	margin-top: 94px;
}
.dashboard.search .search-bar {
	display: block;
}
.dashboard .media-body {
	padding-left: 10px !important;
}
.dashboard .list-group .media img {
	width: 64px;
	height: 64px;
}
.dashboard .media-image {
	display: table-cell;
}